{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Report Generated </title>
    <link rel="stylesheet" href="{% static 'dean/report.css' %}">
  </head>
  <body>
      
      <div class="header">
          
          <div class="title">
                  <ul style="list-style-type:none;">
                          <li style="font-size: 16px;">
                             <b> राष्ट्रीय प्रौद्योगिकी संस्थान नागालैंड</b>
              
                          </li>
                          <li style="font-size:16px;">
                            <strong> NATIONAL INSTITUTE OF TECHNOLOGY NAGALAND </strong>
                          </li>
                          <li>
                           (An Institue of National Importance under MHRD , Government of India)
                            </li>
                            <li style="font-size:16px;">
                             <strong>Chumukedima, Dimapur, Nagaland - 797103 </strong>
                            </li><br>
                          
                            <li style="font-size:17px;">
                                <strong>Ph.D Programme </strong>
                               </li> <li style="font-size:17px;">
                                  <strong>Report of {{ branch }} of session {{ exam }} of {{ yearofreg }} </strong>
                                 </li>
                        </ul>
                   
          </div>
      </div>
      <div class="row ">
          <div class="table">
              <table>
                 
                    <tr class="tableheader">
                        
                        <th colspan="1">Serial no</th>
                        <th colspan="2" > Name </th>
                       
                        <th colspan="2">Registration no</th>
                        
                        
                        {% for my in range %}
                        <th colspan="1"class="tablecolorsem">Semester</th>
                        <th>Course code</th>
                        
                        <th colspan="3">Course Name</th>
                        
                        <th>Grade</th>
                        
                        
                       
                        {% endfor %}
                        
                        <th class="tablecolorgreen"> CGPA</th>
                       
                    </tr>
                    {% for key, value in each_student_details.items %}
                    {% ifequal key 'students' %}
                    {% for student in value %}
                    <tr >
                       
                        <th colspan="1">{{ student.serialno }}</th>
                        <th colspan="2">{{ student.first_name }} {{ student.last_name }}</th>
                        
                       
                        <th colspan="2">{{ student.regno }}</th>
                        
                        
                        
                        {% for student_grade in student.grades %}
                        {% if student_grade %}
                        <th colspan="1" class="tablecolorsem">{{ student_grade.semester }}</th>
                        <th>{{ student_grade.course_id }}</th>
                        <th colspan="3">{{ student_grade.course_name }}</th>
                        
                         
                        <th>{{ student_grade.grade }}</th>
                        
                        
                        {% else %}
                        <th colspan="1" class="tablecolor"></th>
                        <th class="tablecolor"></th>
                        <th colspan="3" class="tablecolor"></th>
                        <th class="tablecolor"></th>
                         
                        <th class="tablecolor"></th>
                        <th class="tablecolor"></th>
                        <th colspan="3"class="tablecolor"></th>
                        {% endif %}
                        {% endfor %}
                       
                        <th class="tablecolorgreen">{{ student.cgpa }}</th>

                       
                    
                    </tr>
                    {% endfor %}
                    {% endifequal %}
                    {% endfor %}
                    
                              
          
              </table>
          </div>
      </div>
    
      
 
  
              
          
 
  
 
  </div>

    
    
    
    
  </body>
</html>